.hero-section {
    background-image: url('images/books_hero_bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 0 3px white;
    .btn {
        text-shadow: none;
    }
}

.card-title {
    color: #343a40;
}

.top-buffer {
    margin-top:20px;
}

body {
    background-image: url("images/silk_bg.jpg");
    background-attachment: fixed;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.brand-img {
    height: 2.5em;
}

.brand-title {
    font-size: 1.5em;
    font-family: Castellar, "Times New Roman", Times, serif;
}

.dropdown-item:hover {
    background-color: coral;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}


#sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid black;
    min-height: 100vh;
}

.sticky-top {
    top: 5em;
}


.book-detail h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.book-detail h4 {
    font-size: 1.25rem;
    color: #6c757d;
}

.book-detail p {
    font-size: 1rem;
    line-height: 1.6;
}

.book-detail button {
    padding: 10px 20px;
    font-size: 1rem;
}

.book-detail .img-fluid {
    max-height: 500px;
    object-fit: cover;
}

h1.book {
    display: inline;
}

.right-h1 {
    float: right;
}

table {
    width: 80%;
}

.price {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 35px 0;
}